# Loading data

In [62]:
import pandas as pd

df = pd.read_csv('../data/raw/listings.csv.zst')
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,363601.0,NaN,2.025031e+13,2025-03-06,previous scrape,NaN,NaN,NaN,https://a0.muscache.com/pictures/38669984/67b5...,1837053.0,...,4.67,4.54,NaN,NaN,f,NaN,1.0,NaN,0.0,NaN
1,399772.0,https://www.nocarz.pl/rooms/399772,NaN,NaN,city scrape,Rocafort nice & bright 3 stops away Pza Cataluña,"Comfortable, nice and central two bedroom ap...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,1995385.0,...,4.92,4.75,4.74,HUTB-001948,f,NaN,3.0,0.0,NaN,1.18
2,402369.0,https://www.nocarz.pl/rooms/402369,2.025031e+13,2025-03-11,NaN,Great 2 bedr flat close to Las Ramblas city ce...,Please send us a message to confirm availabili...,HAPPY NEIGHBOURHOOD<br />Located behind Paseo ...,https://a0.muscache.com/pictures/hosting/Hosti...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.07
3,456333.0,NaN,2.025031e+13,2025-03-06,previous scrape,DOUBLE ROOM with WIFI,NaN,NaN,NaN,2268672.0,...,4.95,4.83,4.88,NaN,f,NaN,0.0,1.0,0.0,0.26
4,NaN,https://www.nocarz.pl/rooms/480975,2.025031e+13,2025-03-07,previous scrape,Cozy loft with a big terrace!,"Real cozy loft, at an old factory from the beg...",NaN,https://a0.muscache.com/pictures/104020703/cd4...,NaN,...,NaN,NaN,NaN,NaN,f,NaN,0.0,1.0,0.0,NaN

# Reading information about the data

In [63]:
print('Data shape:', df.shape)

Data shape: (1911, 79)

In [64]:
print('List of columns:')
df.columns

List of columns:

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [65]:
print('Data description:')
df.describe(include='all')

Data description:

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.519000e+03,1516,1.509000e+03,1523,1556,1512,1461,780,1522,1.536000e+03,...,1111.000000,1122.000000,1112.000000,1000,1513,1507.000000,1538.000000,1531.000000,1555.000000,1121.000000
unique,NaN,1516,NaN,8,2,1502,1376,698,1517,NaN,...,NaN,NaN,NaN,558,2,NaN,NaN,NaN,NaN,NaN
top,NaN,https://www.nocarz.pl/rooms/1364436964919537178,NaN,2025-03-06,city scrape,Habitación privada en Barcelona,Our mission is to empower individuals to immer...,"Eixample is Catalan for 'extension', meaning a...",https://a0.muscache.com/pictures/miso/Hosting-...,NaN,...,NaN,NaN,NaN,Exempt,f,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,428,1206,3,18,10,2,NaN,...,NaN,NaN,NaN,415,926,NaN,NaN,NaN,NaN,NaN
mean,5.647987e+17,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,2.115746e+08,...,4.704167,4.758414,4.475612,NaN,NaN,50.750498,33.635891,13.719138,0.030225,1.348278
std,5.407685e+17,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,2.054804e+08,...,0.534317,0.353575,0.577212,NaN,NaN,104.778005,87.320393,57.257401,0.328386,1.710819
min,1.882670e+05,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,1.070400e+04,...,1.000000,1.000000,1.000000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.235801e+07,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,1.491738e+07,...,4.670000,4.670000,4.330000,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.200000
50%,6.448076e+17,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,1.522976e+08,...,4.870000,4.850000,4.595000,NaN,NaN,8.000000,2.000000,0.000000,0.000000,0.660000
75%,1.104224e+18,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,3.671728e+08,...,5.000000,5.000000,4.800000,NaN,NaN,38.000000,19.000000,2.000000,0.000000,2.010000
max,1.368636e+18,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,6.788518e+08,...,5.000000,5.000000,5.000000,NaN,NaN,483.000000,483.000000,399.000000,6.000000,20.260000

In [66]:
print('Data information:')
df.info(show_counts=True)

Data information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911 entries, 0 to 1910
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            1519 non-null   float64
 1   listing_url                                   1516 non-null   object
 2   scrape_id                                     1509 non-null   float64
 3   last_scraped                                  1523 non-null   object
 4   source                                        1556 non-null   object
 5   name                                          1512 non-null   object
 6   description                                   1461 non-null   object
 7   neighborhood_overview                         780 non-null    object
 8   picture_url                                   1522 non-null   object
 9   host_id                                       1536 non-null   float64
 10  host_url                                      1549 non-null   object
 11  host_name                                     1533 non-null   object
 12  host_since                                    1523 non-null   object
 13  host_location                                 1189 non-null   object
 14  host_about                                    966 non-null    object
 15  host_response_time                            1268 non-null   object
 16  host_response_rate                            1261 non-null   object
 17  host_acceptance_rate                          1291 non-null   object
 18  host_is_superhost                             1475 non-null   object
 19  host_thumbnail_url                            1537 non-null   object
 20  host_picture_url                              1520 non-null   object
 21  host_neighbourhood                            717 non-null    object
 22  host_listings_count                           1508 non-null   float64
 23  host_total_listings_count                     1520 non-null   float64
 24  host_verifications                            1539 non-null   object
 25  host_has_profile_pic                          1546 non-null   object
 26  host_identity_verified                        1516 non-null   object
 27  neighbourhood                                 753 non-null    object
 28  neighbourhood_cleansed                        1507 non-null   object
 29  neighbourhood_group_cleansed                  1530 non-null   object
 30  latitude                                      1545 non-null   float64
 31  longitude                                     1533 non-null   float64
 32  property_type                                 1533 non-null   object
 33  room_type                                     1549 non-null   object
 34  accommodates                                  1559 non-null   float64
 35  bathrooms                                     1145 non-null   float64
 36  bathrooms_text                                1554 non-null   object
 37  bedrooms                                      1365 non-null   float64
 38  beds                                          1216 non-null   float64
 39  amenities                                     1512 non-null   object
 40  price                                         1222 non-null   object
 41  minimum_nights                                1569 non-null   float64
 42  maximum_nights                                1546 non-null   float64
 43  minimum_minimum_nights                        1534 non-null   float64
 44  maximum_minimum_nights                        1529 non-null   float64
 45  minimum_maximum_nights                        1525 non-null   float64
 46  maximum_maximum_nights                        1504 non-null   float64
 47  minimum_nights_avg_ntm                        1526 non-null   float64
 48  maximum_nights_avg_ntm                        1537 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              1446 non-null   object
 51  availability_30                               1504 non-null   float64
 52  availability_60                               1570 non-null   float64
 53  availability_90                               1563 non-null   float64
 54  availability_365                              1553 non-null   float64
 55  calendar_last_scraped                         1527 non-null   object
 56  number_of_reviews                             1518 non-null   float64
 57  number_of_reviews_ltm                         1503 non-null   float64
 58  number_of_reviews_l30d                        1496 non-null   float64
 59  availability_eoy                              1556 non-null   float64
 60  number_of_reviews_ly                          1510 non-null   float64
 61  estimated_occupancy_l365d                     1525 non-null   float64
 62  estimated_revenue_l365d                       1208 non-null   float64
 63  first_review                                  1101 non-null   object
 64  last_review                                   1118 non-null   object
 65  review_scores_rating                          1115 non-null   float64
 66  review_scores_accuracy                        1112 non-null   float64
 67  review_scores_cleanliness                     1097 non-null   float64
 68  review_scores_checkin                         1127 non-null   float64
 69  review_scores_communication                   1111 non-null   float64
 70  review_scores_location                        1122 non-null   float64
 71  review_scores_value                           1112 non-null   float64
 72  license                                       1000 non-null   object
 73  instant_bookable                              1513 non-null   object
 74  calculated_host_listings_count                1507 non-null   float64
 75  calculated_host_listings_count_entire_homes   1538 non-null   float64
 76  calculated_host_listings_count_private_rooms  1531 non-null   float64
 77  calculated_host_listings_count_shared_rooms   1555 non-null   float64
 78  reviews_per_month                             1121 non-null   float64
dtypes: float64(43), object(36)
memory usage: 1.2+ MB

In [67]:
df.isnull().sum().sort_values(ascending=False)

calendar_updated         1911
host_neighbourhood       1194
neighbourhood            1158
neighborhood_overview    1131
host_about                945
                         ...
availability_eoy          355
accommodates              352
availability_90           348
minimum_nights            342
availability_60           341
Length: 79, dtype: int64

## Checking ID column value occurrences

In [68]:
df.value_counts('id', sort=True, ascending=False, dropna=False)

id
NaN             392
9.897598e+17      1
9.852637e+17      1
9.848851e+17      1
9.847005e+17      1
               ...
4.052732e+07      1
4.041322e+07      1
4.039167e+07      1
4.036773e+07      1
4.096455e+07      1
Name: count, Length: 1520, dtype: int64

Only NaN value appeared more than once in ID column, which means this column doesn't give any useful information about the data.

# Cleaning data

## Dropping columns

### With more than 50% missing values

In [69]:
df = df.loc[:, df.isnull().mean() < 0.5]

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911 entries, 0 to 1910
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            1519 non-null   float64
 1   listing_url                                   1516 non-null   object
 2   scrape_id                                     1509 non-null   float64
 3   last_scraped                                  1523 non-null   object
 4   source                                        1556 non-null   object
 5   name                                          1512 non-null   object
 6   description                                   1461 non-null   object
 7   picture_url                                   1522 non-null   object
 8   host_id                                       1536 non-null   float64
 9   host_url                                      1549 non-null   object
 10  host_name                                     1533 non-null   object
 11  host_since                                    1523 non-null   object
 12  host_location                                 1189 non-null   object
 13  host_about                                    966 non-null    object
 14  host_response_time                            1268 non-null   object
 15  host_response_rate                            1261 non-null   object
 16  host_acceptance_rate                          1291 non-null   object
 17  host_is_superhost                             1475 non-null   object
 18  host_thumbnail_url                            1537 non-null   object
 19  host_picture_url                              1520 non-null   object
 20  host_listings_count                           1508 non-null   float64
 21  host_total_listings_count                     1520 non-null   float64
 22  host_verifications                            1539 non-null   object
 23  host_has_profile_pic                          1546 non-null   object
 24  host_identity_verified                        1516 non-null   object
 25  neighbourhood_cleansed                        1507 non-null   object
 26  neighbourhood_group_cleansed                  1530 non-null   object
 27  latitude                                      1545 non-null   float64
 28  longitude                                     1533 non-null   float64
 29  property_type                                 1533 non-null   object
 30  room_type                                     1549 non-null   object
 31  accommodates                                  1559 non-null   float64
 32  bathrooms                                     1145 non-null   float64
 33  bathrooms_text                                1554 non-null   object
 34  bedrooms                                      1365 non-null   float64
 35  beds                                          1216 non-null   float64
 36  amenities                                     1512 non-null   object
 37  price                                         1222 non-null   object
 38  minimum_nights                                1569 non-null   float64
 39  maximum_nights                                1546 non-null   float64
 40  minimum_minimum_nights                        1534 non-null   float64
 41  maximum_minimum_nights                        1529 non-null   float64
 42  minimum_maximum_nights                        1525 non-null   float64
 43  maximum_maximum_nights                        1504 non-null   float64
 44  minimum_nights_avg_ntm                        1526 non-null   float64
 45  maximum_nights_avg_ntm                        1537 non-null   float64
 46  has_availability                              1446 non-null   object
 47  availability_30                               1504 non-null   float64
 48  availability_60                               1570 non-null   float64
 49  availability_90                               1563 non-null   float64
 50  availability_365                              1553 non-null   float64
 51  calendar_last_scraped                         1527 non-null   object
 52  number_of_reviews                             1518 non-null   float64
 53  number_of_reviews_ltm                         1503 non-null   float64
 54  number_of_reviews_l30d                        1496 non-null   float64
 55  availability_eoy                              1556 non-null   float64
 56  number_of_reviews_ly                          1510 non-null   float64
 57  estimated_occupancy_l365d                     1525 non-null   float64
 58  estimated_revenue_l365d                       1208 non-null   float64
 59  first_review                                  1101 non-null   object
 60  last_review                                   1118 non-null   object
 61  review_scores_rating                          1115 non-null   float64
 62  review_scores_accuracy                        1112 non-null   float64
 63  review_scores_cleanliness                     1097 non-null   float64
 64  review_scores_checkin                         1127 non-null   float64
 65  review_scores_communication                   1111 non-null   float64
 66  review_scores_location                        1122 non-null   float64
 67  review_scores_value                           1112 non-null   float64
 68  license                                       1000 non-null   object
 69  instant_bookable                              1513 non-null   object
 70  calculated_host_listings_count                1507 non-null   float64
 71  calculated_host_listings_count_entire_homes   1538 non-null   float64
 72  calculated_host_listings_count_private_rooms  1531 non-null   float64
 73  calculated_host_listings_count_shared_rooms   1555 non-null   float64
 74  reviews_per_month                             1121 non-null   float64
dtypes: float64(42), object(33)
memory usage: 1.1+ MB

### Unnecessary columns

In [71]:
columns_to_remove = [
    'id',
    'listing_url',
    'scrape_id',
    'picture_url',
    'host_id',
    'host_url',
    'host_name',
    'host_since',
    'host_location',
    'host_about',
    'host_has_profile_pic',
    'host_thumbnail_url',
    'host_picture_url',
    'host_has_profile_pic',
]
df.drop(columns_to_remove, axis=1, inplace=True)
df.head()

,last_scraped,source,name,description,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2025-03-06,previous scrape,NaN,NaN,NaN,NaN,NaN,f,2.0,NaN,...,4.67,4.54,NaN,NaN,f,NaN,1.0,NaN,0.0,NaN
1,NaN,city scrape,Rocafort nice & bright 3 stops away Pza Cataluña,"Comfortable, nice and central two bedroom ap...",within an hour,100%,99%,t,3.0,7.0,...,4.92,4.75,4.74,HUTB-001948,f,NaN,3.0,0.0,NaN,1.18
2,2025-03-11,NaN,Great 2 bedr flat close to Las Ramblas city ce...,Please send us a message to confirm availabili...,within an hour,79%,24%,NaN,306.0,503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.07
3,2025-03-06,previous scrape,DOUBLE ROOM with WIFI,NaN,NaN,NaN,NaN,f,2.0,NaN,...,4.95,4.83,4.88,NaN,f,NaN,0.0,1.0,0.0,0.26
4,2025-03-07,previous scrape,Cozy loft with a big terrace!,"Real cozy loft, at an old factory from the beg...",NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,f,NaN,0.0,1.0,0.0,NaN

In [72]:
df

,last_scraped,source,name,description,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2025-03-06,previous scrape,NaN,NaN,NaN,NaN,NaN,f,2.0,NaN,...,4.67,4.54,NaN,NaN,f,NaN,1.0,NaN,0.0,NaN
1,NaN,city scrape,Rocafort nice & bright 3 stops away Pza Cataluña,"Comfortable, nice and central two bedroom ap...",within an hour,100%,99%,t,3.0,7.0,...,4.92,4.75,4.74,HUTB-001948,f,NaN,3.0,0.0,NaN,1.18
2,2025-03-11,NaN,Great 2 bedr flat close to Las Ramblas city ce...,Please send us a message to confirm availabili...,within an hour,79%,24%,NaN,306.0,503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.07
3,2025-03-06,previous scrape,DOUBLE ROOM with WIFI,NaN,NaN,NaN,NaN,f,2.0,NaN,...,4.95,4.83,4.88,NaN,f,NaN,0.0,1.0,0.0,0.26
4,2025-03-07,previous scrape,Cozy loft with a big terrace!,"Real cozy loft, at an old factory from the beg...",NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,f,NaN,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,2025-03-11,city scrape,P2ESC1103 - Apartment Barrio Gotico,NaN,within an hour,98%,97%,NaN,118.0,159.0,...,NaN,NaN,NaN,HUTB-000000,f,83.0,83.0,0.0,NaN,NaN
1907,NaN,NaN,Apartment in Old Town 37,"Thanks to the central location of this home, y...",NaN,100%,99%,NaN,NaN,86.0,...,NaN,NaN,NaN,NaN,NaN,16.0,6.0,10.0,0.0,NaN
1908,2025-03-06,city scrape,Flateli. Pelayo H7,This modern and bright penthouse is located in...,within an hour,100%,99%,f,164.0,339.0,...,NaN,NaN,NaN,HUTB-076868,NaN,50.0,NaN,0.0,0.0,NaN
1909,2025-03-07,NaN,AB Gaudí Urban Nest IV-I,This apartment has 2 double bedrooms and a dou...,within an hour,100%,80%,f,196.0,248.0,...,NaN,NaN,NaN,HUTB-008145,f,NaN,182.0,0.0,0.0,NaN
1910,2025-03-06,NaN,Triple room | chic&basic Reding,You'll sleep better than at home! We love to p...,within an hour,92%,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,HB-003893,t,NaN,0.0,3.0,0.0,NaN

In [73]:
print('Data description:')
df.describe(include='all')

Data description:

,last_scraped,source,name,description,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1523,1556,1512,1461,1268,1261,1291,1475,1508.000000,1520.000000,...,1111.000000,1122.000000,1112.000000,1000,1513,1507.000000,1538.000000,1531.000000,1555.000000,1121.000000
unique,8,2,1502,1376,4,47,79,2,NaN,NaN,...,NaN,NaN,NaN,558,2,NaN,NaN,NaN,NaN,NaN
top,2025-03-06,city scrape,Habitación privada en Barcelona,Our mission is to empower individuals to immer...,within an hour,100%,100%,f,NaN,NaN,...,NaN,NaN,NaN,Exempt,f,NaN,NaN,NaN,NaN,NaN
freq,428,1206,3,18,906,742,373,1155,NaN,NaN,...,NaN,NaN,NaN,415,926,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.423740,83.500000,...,4.704167,4.758414,4.475612,NaN,NaN,50.750498,33.635891,13.719138,0.030225,1.348278
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.722089,183.851756,...,0.534317,0.353575,0.577212,NaN,NaN,104.778005,87.320393,57.257401,0.328386,1.710819
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,...,1.000000,1.000000,1.000000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,3.000000,...,4.670000,4.670000,4.330000,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.200000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,11.000000,...,4.870000,4.850000,4.595000,NaN,NaN,8.000000,2.000000,0.000000,0.000000,0.660000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.000000,59.000000,...,5.000000,5.000000,4.800000,NaN,NaN,38.000000,19.000000,2.000000,0.000000,2.010000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,888.000000,2733.000000,...,5.000000,5.000000,5.000000,NaN,NaN,483.000000,483.000000,399.000000,6.000000,20.260000